<h2>All Cars</h2>
<mat-card *ngFor="let car of cars" class="car-card">
  <mat-card-title>{{ car.model }} ({{ car.year }})</mat-card-title>
  <mat-card-content>
    <a [routerLink]="['/carCompanies']">Company: {{ car.carCompanyName }} </a>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdmin">
    <button mat-flat-button color="warn" (click)="deleteCar(car.id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
<div class="pagination-buttons">
  <button
    mat-flat-button
    color="primary"
    (click)="prevPage()"
    [disabled]="page === 1"
  >
    Previous
  </button>

  <button
    mat-flat-button
    color="primary"
    (click)="nextPage()"
    [disabled]="isLastPage"
  >
    Next
  </button>
</div>
